@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(247 254 231);
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
}